<div>
    <div class="ui small form">
        <%= form_for @experience do |f| %>
            <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
            <%= f.label :Experience %><br>
            <%= f.text_area :story %><br><br>
        Location:
            <%= f.collection_select :location_id, @locations, :id, :name, include_blank: true, class: "ui dropdown" %></br>
    </div>
</div>
<br>
<br>




<div class="ui small form">

  <p>New Location:</p>

      <%= f.fields_for :location do |location| %>
          <%= location.label :name %>
          <%= location.text_field :name %>
          <%= location.label :address %>
          <%= location.text_field :address %>
          <%= location.label :city %>
          <%= location.text_field :city %>
          <%= location.label :state %>
          <%= location.text_field :state %>
          <% end %>
            <br><br>
            <%= f.submit :class => 'ui button' %>
      <% end %>

</div>
