<div class="ui small form">

    <h3>Update Location</h3>

    <div class="location_update">

        <%= form_for(@location) do |f| %>
          <label>Location Name:</label><br>
          <%= f.text_field :name %><br>

          <label>City</label><br>
          <%= f.text_field :city %><br>

          <label>State</label><br>
          <%= f.text_field :state %><br>

          <label>Address</label><br>
          <%= f.text_field :address %><br>

          <br>
          <%= f.submit class: "tiny ui button"%>
        <% end %>

    </div>

</div>
