<p><%= @location.name %></p>
<% if @location.errors.any? %>
  <!-- <div id="error_explanation"> -->
    <div class="errors" >
      <%= pluralize(@location.errors.count, "error") %>
      prohibited this post from being saved: <br>

        <% @location.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>

    </div>
  <% end %>


<div class="location_new">

  <%= form_for @location do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :city %><br>
    <%= f.text_field :city %><br>
    <%= f.label :state %><br>
    <%= f.text_field :state %><br>
    <%= f.label :address %><br>
    <%= f.text_field :address %><br><br>
    <%= f.submit %>
 <% end %>

</div>
