
<div class="location_show">
  <h5>Location:</h5>
    <%= @location.name %><br>
    <%= @location.city %><br>
    <%= @location.state %><br>
    <%= @location.address %><br>
</div>

<br>
<br>


<div class="location_experiences">
  <h5>The Collective Experience(s): <h5>
      <% @location.experiences.each do |exp| %>
      <%= exp.story %><br>
      <br>
      <% end %>
</div>


<br>
<br>
<br>
<br>
<br>

<div class="location_comments">

      <p>Latest Comment:</p>

      <% @location.comments.each do |comment| %>
          <%= link_to comment.content, location_comment_path(comment) %><br>
        <% end %>

        <%= link_to "Post Comment", new_location_comment_path(@location) %>

</div>
