<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/stylesheets/style1.css" rel="stylesheets">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  </head>


<body class="<%= controller_name %> <%= action_name %>">

  <div class="ui secondary pointing menu">
    <a class="item sidemenu">
      <i class="sidebar icon"></i>
    </a>

    <a class="active item" href="/">
      The Collective
    </a>

    <div class="right menu">
      <% if current_user %>
      <a class="ui item" href="<%= destroy_user_session_url %>">
        Logout
      </a>
      <% else %>
      <a class="ui item" href="/">
        Login
      </a>
      <% end %>
    </div>
  </div>

  <div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <a class="item" href="/users/sign_in">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" id="find" href="/locations/search">
        <i class="find icon" id="find"></i>
        Find Location
      </a>
      <a class="item" href="/locations">
        <i class="map icon"></i>
        All Locations
      </a>
      <a class="item" href="/experiences">
        <i class="street view icon"></i>
        All Experiences
      </a>
    </div>
    <div class="pusher landpage-image">
      <div class="ui basic segment landpage-image">

        <%= yield %>
      </div>
    </div>
  </div>





  </body>
</html>
